/* ad */
.ad {
  margin-bottom: 64px;
  overflow-x: hidden;
}
.ad h1 {
  font-weight: normal;
  margin-bottom: 32px;
}

.break {
  white-space: nowrap;
}

.adContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 16px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
}
.adContainer img {
  max-width: 80%;
  border-radius: 4px;
  box-shadow: 0px 0px 2px black;
  display: flex;
  align-self: flex-end;
}

.adImage {
  transform: translate3d(30px, 0px, 0px);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.adText {
  transform: translate3d(-30px, 0px, 0px);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

/* responsive */

@media (max-width: 1050px) {
  .adTextT {
    font-size: 3rem;
  }
}

@media (max-width: 1000px) {
  .ad h1 {
    font-size: 3rem;
  }
}

@media (max-width: 850px) {
  .aboutContainer {
    grid-template-columns: 1fr;
  }
  .adContainer {
    grid-template-columns: 1fr;
  }
  .adContainer img {
    grid-row: 1;
  }
  .adTextT {
    font-size: 2.5rem;
  }
  .adBr {
    display: none;
  }

  .adContainer img {
    max-width: 100%;
  }

  .ad h1 {
    font-size: 3.5rem;
  }

  .res {
    display: none;
  }

  .ad h1 {
    margin-bottom: 0px;
  }

  .adContainer {
    gap: 25px;
  }

  .ad {
    margin-bottom: 50px;
  }
}

@media (max-width: 600px) {
  .adTextT {
    font-size: 2rem;
  }

  .ad h1 {
    font-size: 3rem;
  }

  .break {
    white-space: normal;
  }
}

@media (max-width: 500px) {
  .adTextT {
    font-size: 1.7rem;
  }

  .ad h1 {
    font-size: 2.8rem;
  }
}
