.wppButton > img {
  width: 64px;
  height: 64px;
  position: fixed;
  z-index: 99;
  left: 7%;
  bottom: 5%;
  transition: all 0.2s ease-in-out;
  display: flex;
}

.wppButton > img:hover {
  filter: drop-shadow(0 0 2px black);
}

/* BACK TO TOP */
.backToTopButton {
  position: fixed;
  z-index: 99;
  right: 7%;
  bottom: 5%;
  background-color: var(--var-blueP);
  border-radius: 50%;
  padding: 15px;
  border: 2px solid white;
  box-shadow: 0px 0px 2px black;
  display: flex;
}

.backToTopButton > img {
  object-fit: contain;
  height: 32px;
  width: 32px;
}

/* RESPONSIVE */

/* @media (max-width: 900px) {
  .back_to_top_button {
    display: flex;
  }

  .wpp_button > img {
    display: flex;
  }
} */

@media (max-width: 800px) {
  .wppButton > img {
    width: 55px;
    height: 55px;
  }

  .backToTopButton > img {
    height: 25px;
    width: 25px;
  }
}
@media (max-width: 600px) {
  .wppButton > img {
    width: 50px;
    height: 50px;
  }

  .backToTopButton > img {
    height: 20px;
    width: 20px;
  }
}
