.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px 100px 30px 150px;
}

.navList {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 40px;
}

.logo {
  display: flex;
}

.logo > img {
  max-width: 100%;
}

.nav {
  place-self: center;
  justify-self: end;
}

li > a {
  text-decoration: none;
  color: white;
}

.navList > a {
  position: relative;
  white-space: nowrap;
}

/* NAV ITEM ANIMATION */
.navList > a > li::before {
  content: "";
  position: absolute;
  background-color: var(--var-blueP);
  width: 0%;
  height: 2px;
  bottom: -2px;
  left: 50%;
  transform: translate(-50%);
}

.navList > a > li:hover::before {
  width: 100%;
  transition: all ease-in-out 0.35s;
}

.navItem > span {
  display: none;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  font-family: var(--type-second);
}

/* NAV-MOBILE */
.navMobile {
  display: none;
  padding: 20px;
  border-radius: 50%;
  border: 2px solid var(--var-white);
  background-color: var(--var-gray);
  cursor: pointer;
  position: relative;
  place-content: center;
  outline: none;
}

.navMobile::before {
  content: "";
  background-color: var(--var-white);
  width: 22px;
  height: 2px;
  position: absolute;
  bottom: 11px;
  box-shadow: 0 -7px var(--var-white);
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.navMobile::after {
  content: "";
  background-color: var(--var-white);
  width: 22px;
  height: 2px;
  position: absolute;
  bottom: 25px;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

/* NAV-MOBILE ANIMATION */
.animation::before {
  box-shadow: 0 0px var(--white);
  transform: rotate(135deg);
  display: flex;
  bottom: 18px;
}
.animation::after {
  transform: rotate(-135deg);
  display: flex;
  bottom: 18px;
}

.black {
  position: relative;
}

.black::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

/* RESPONSIVE */
@media (max-width: 1500px) {
  .navList {
    gap: 20px;
    font-size: 0.9rem;
  }
}

@media (max-width: 1400px) {
  .logo {
    padding: 10px;
  }

  .header {
    padding: 25px 100px 25px 150px;
  }
}

@media (max-width: 1200px) {
  .navList {
    position: fixed;
    display: flex;
    z-index: 9999999;
    width: 30%;
    flex-direction: column;
    top: 12.5%;
    text-align: left;
    background-color: var(--var-gray);
    right: 0%;
    padding: 20px 10px 20px 10px;
    border-radius: 5px;
    /* box-shadow: 0px 0px 5px var(--var-blueP); */
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0px, -30px, 0px);
    border: 1px solid var(--var-blueP);
  }

  .navItem span {
    display: flex;
  }

  .navItem {
    position: relative;
    transition: 0.2s ease-in-out;
    transform: scale(0.98);
  }

  .navItem:hover,
  .navItem:focus {
    transform: scale(1);
  }

  .navList a:hover,
  .navList a:focus {
    outline: none;
    border: none;
    transform: scale(1);
    color: var(--var-blueP);
  }

  .navItem::after {
    content: "";
    left: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(45deg, var(--var-blueP), var(--var-gray));
    height: 1px;
    width: 100%;
  }

  .navList > a > li::before {
    display: none;
  }

  .navMobile {
    display: flex;
  }

  .show_mobile {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0px, 0px, 0px);
  }
}

@media (max-width: 800px) {
  .header {
    padding: 30px 50px;
  }

  .navList {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .header {
    padding: 30px 25px 30px 25px;
  }
}

@media (max-width: 400px) {
  .header {
    padding: 25px 20px 25px 20px;
  }
}
