.enterpriseP1 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 64px 24px;
  overflow-x: hidden;
}
.enterpriseP1 img {
  max-width: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 2px black;
}

.imgContainer {
  display: grid;
  gap: 32px;
}

.imgContainer ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.imgContainer > ul > li > img {
  cursor: pointer;
}

.enterpriseP1Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
}

.enterpriseP1Text h3 {
  margin-bottom: 32px;
  white-space: nowrap;
}
.enterpriseP1Text > p {
  margin-bottom: 32px;
}

.enterpriseP1DetailText > p {
  margin-bottom: 16px;
}
.enterpriseP1DetailText ul li {
  display: flex;
  justify-content: space-between;
}
.enterpriseP1DetailText ul li:not(:last-child) {
  border-bottom: 1px solid var(--var-blackT);
}

ul {
  list-style: none;
}

/* RESPONSIVE */
@media (max-width: 1200px) {
  .enterpriseP1 > h1 {
    font-size: 2rem;
  }

  .enterpriseP1Text > p {
    font-size: 1.2rem;
  }
  .enterpriseP1Container {
    gap: 32px;
  }
}

@media (max-width: 1000px) {
  .enterpriseP1Text > p {
    margin-bottom: 32px;
  }
  .enterpriseP1DetailText > p {
    font-size: 1.4rem;
  }
}

@media (max-width: 900px) {
  .enterpriseP1Text h2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 850px) {
  .enterpriseP1 {
    padding: 0px;
    margin: 20px;
  }
  .enterpriseP1 > h1 {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
  .enterpriseP1Container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .enterpriseP1DetailText > p {
    font-size: 1.3rem;
  }
  .enterpriseP1Text > p {
    margin-bottom: 32px;
  }

  .enterpriseP1Text > p {
    margin-bottom: 20px;
  }

  .enterpriseP1Text h3 {
    margin-bottom: 20px;
    white-space: nowrap;
  }

  .enterpriseP1DetailText > p {
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .enterpriseP1 > h1 {
    font-size: 1.375rem;
    margin-bottom: 30px;
  }
}
@media (max-width: 450px) {
  #titleP {
    font-size: 1.2rem;
  }
}
