.projects {
  max-width: 1400px;
  margin: 70px auto 70px auto;
  overflow-x: hidden;
}

.col1,
.col2 {
  display: grid;
  gap: 20px;
  height: min-content;
}

.col1 {
  transform: translate3d(-30px, 0px, 0px);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.col2 {
  transform: translate3d(30px, 0px, 0px);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.projectsImages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 20px;
  margin-bottom: 40px;
}

.projectsImages > a {
  cursor: pointer;
}

.image1 > img,
.image2 > img,
.image3 > img,
.image4 > img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 3px black;
}

.image1,
.image2,
.image3,
.image4 {
  position: relative;
}

.image1::before,
.image2::before,
.image3::before,
.image4::before {
  content: "";
  width: 100%;
  height: 99.4%;
  background-color: black;
  position: absolute;
  border-radius: 5px;
  opacity: 0;
  transition: all ease-in-out 0.5s;
}

.image1:hover::before,
.image2:hover::before,
.image3:hover::before,
.image4:hover::before {
  opacity: 0.8;
}

.image1 > h2,
.image2 > h2,
.image3 > h2,
.image4 > h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  opacity: 0;
  transition: all ease-in-out 0.5s;
  white-space: nowrap;
  text-align: center;
}

.image1:hover > h2,
.image2:hover > h2,
.image3:hover > h2,
.image4:hover > h2 {
  opacity: 1;
}

/* BORDER-BOTTOM */
.image1 > .border1::before,
.image2 > .border1::before,
.image3 > .border1::before,
.image4 > .border1::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0%;
  left: 22%;
  bottom: 43%;
  background-color: var(--var-gold);
  transition: all 0.3s ease-in-out;
}

.image1:hover > .border1::before,
.image2:hover > .border1::before,
.image3:hover > .border1::before,
.image4:hover > .border1::before {
  width: 56%;
}

/* BORDER-RIGHT */
.image1 > .border2::before,
.image2 > .border2::before,
.image3 > .border2::before,
.image4 > .border2::before {
  content: "";
  position: absolute;
  height: 0%;
  width: 2px;
  right: 22%;
  bottom: 43%;
  background-color: var(--var-gold);
  transition: all 0.3s ease-in-out;
  transition-delay: 0.3s;
}

.image1:hover > .border2::before,
.image2:hover > .border2::before,
.image3:hover > .border2::before,
.image4:hover > .border2::before {
  height: 15%;
}

/* BORDER-TOP */
.image1 > .border3::before,
.image2 > .border3::before,
.image3 > .border3::before,
.image4 > .border3::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0%;
  left: 22%;
  top: 42%;
  background-color: var(--var-gold);
  transition: all 0.3s ease-in-out;
}

.image1:hover > .border3::before,
.image2:hover > .border3::before,
.image3:hover > .border3::before,
.image4:hover > .border3::before {
  width: 56%;
}

/* BORDER-LEFT */
.image1 > .border4::before,
.image2 > .border4::before,
.image3 > .border4::before,
.image4 > .border4::before {
  content: "";
  position: absolute;
  height: 0%;
  width: 2px;
  left: 22%;
  bottom: 43%;
  background-color: var(--var-gold);
  transition: all 0.3s ease-in-out;
  transition-delay: 0.3s;
}

.image1:hover > .border4::before,
.image2:hover > .border4::before,
.image3:hover > .border4::before,
.image4:hover > .border4::before {
  height: 15%;
}

/* RESPONSIVE */
@media (max-width: 1450px) {
  .projects {
    max-width: 1400px;
    margin: 40px 50px 30px 50px;
  }

  .projects > h1 {
    margin-bottom: 40px;
  }

  .image1 > h2,
  .image2 > h2,
  .image3 > h2,
  .image4 > h2 {
    font-size: 1.3rem;
  }
}

@media (max-width: 1200px) {
  .image1 > h2,
  .image2 > h2,
  .image3 > h2,
  .image4 > h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 1000px) {
  .image1 > h2,
  .image2 > h2,
  .image3 > h2,
  .image4 > h2 {
    font-size: 1.4rem;
  }

  /* BORDER-LEFT */
  .image1 > .border4::before,
  .image2 > .border4::before,
  .image3 > .border4::before,
  .image4 > .border4::before {
    content: "";
    position: absolute;
    height: 0%;
    width: 2px;
    left: 8%;
    bottom: 33%;
    background-color: var(--var-gold);
    transition: all 0.3s ease-in-out;
    transition-delay: 0.3s;
  }

  .image1:hover > .border4::before,
  .image2:hover > .border4::before,
  .image3:hover > .border4::before,
  .image4:hover > .border4::before {
    height: 32%;
  }

  /* BORDER-TOP */
  .image1 > .border3::before,
  .image2 > .border3::before,
  .image3 > .border3::before,
  .image4 > .border3::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    left: 8%;
    top: 35%;
    background-color: var(--var-gold);
    transition: all 0.3s ease-in-out;
  }

  .image1:hover > .border3::before,
  .image2:hover > .border3::before,
  .image3:hover > .border3::before,
  .image4:hover > .border3::before {
    width: 84%;
  }

  /* BORDER-RIGHT */
  .image1 > .border2::before,
  .image2 > .border2::before,
  .image3 > .border2::before,
  .image4 > .border2::before {
    content: "";
    position: absolute;
    height: 0%;
    width: 2px;
    right: 8%;
    bottom: 33%;
    background-color: var(--var-gold);
    transition: all 0.3s ease-in-out;
    transition-delay: 0.3s;
  }

  .image1:hover > .border2::before,
  .image2:hover > .border2::before,
  .image3:hover > .border2::before,
  .image4:hover > .border2::before {
    height: 32%;
  }

  /* BORDER-BOTTOM */
  .image1 > .border1::before,
  .image2 > .border1::before,
  .image3 > .border1::before,
  .image4 > .border1::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    left: 8%;
    bottom: 33%;
    background-color: var(--var-gold);
    transition: all 0.3s ease-in-out;
  }

  .image1:hover > .border1::before,
  .image2:hover > .border1::before,
  .image3:hover > .border1::before,
  .image4:hover > .border1::before {
    width: 84%;
  }
}

@media (max-width: 800px) {
  .image1 > h2,
  .image2 > h2,
  .image3 > h2,
  .image4 > h2 {
    font-size: 1.4rem;
  }
}

@media (max-width: 700px) {
  .projects > h1 {
    font-size: 2rem;
    margin-bottom: 25px;
  }

  .projects {
    max-width: 1400px;
    margin: 25px 20px 25px 20px;
  }

  .projectsImages {
    margin-bottom: 10px;
  }

  .image1 > h2,
  .image2 > h2,
  .image3 > h2,
  .image4 > h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .projects > h1 {
    font-size: 1.8rem;
  }

  .image1 > h2,
  .image2 > h2,
  .image3 > h2,
  .image4 > h2 {
    font-size: 0.86rem;
  }
}

@media (max-width: 500px) {
  .projects > h1 {
    font-size: 1.7rem;
  }

  .image1 > h2,
  .image2 > h2,
  .image3 > h2,
  .image4 > h2 {
    font-size: 0.8rem;
  }

  .image1::before,
  .image2::before,
  .image3::before,
  .image4::before {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    overflow: hidden;
  }

  /* BORDER-BOTTOM */
  .image1 > .border1::before,
  .image2 > .border1::before,
  .image3 > .border1::before,
  .image4 > .border1::before {
    width: 84%;
  }

  /* BORDER-RIGHT */
  .image1 > .border2::before,
  .image2 > .border2::before,
  .image3 > .border2::before,
  .image4 > .border2::before {
    height: 32%;
  }

  /* BORDER-TOP */
  .image1 > .border3::before,
  .image2 > .border3::before,
  .image3 > .border3::before,
  .image4 > .border3::before {
    width: 84%;
  }

  /* BORDER-LEFT */
  .image1 > .border4::before,
  .image2 > .border4::before,
  .image3 > .border4::before,
  .image4 > .border4::before {
    height: 32%;
  }

  .image1 > h2,
  .image2 > h2,
  .image3 > h2,
  .image4 > h2 {
    opacity: 1;
  }
}

@media (max-width: 450px) {
  .image1 > h2,
  .image2 > h2,
  .image3 > h2,
  .image4 > h2 {
    font-size: 0.6rem;
  }

  .projects {
    margin: 20px 15px 20px 15px;
  }
}
