body.paused {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  touch-action: manipulation;
}

#slideElements > img {
  display: block;
  max-width: 100%;
}

#slide {
  display: grid;
  border-radius: 4px;
  overflow: hidden;
  max-width: 1300px;
  margin: 0px auto;
  margin-bottom: 30px;
  box-shadow: 0px 0px 3px black;
  position: relative;
}

#slideElements {
  display: grid;
  grid-area: 1/1;
}

#slideElements > * {
  grid-area: 1/1;
  opacity: 0;
  visibility: none;
}

#slideElements > .active {
  opacity: 1;
  visibility: visible;
}

#slideControls {
  grid-area: 1/1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  z-index: 9999;
}

#slideControls button {
  opacity: 0;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#slideThumb {
  display: flex;
  position: absolute;
  width: 100%;
  pointer-events: none;
}

#slideThumb > span {
  flex: 1;
  display: block;
  height: 4px;
  background: rgba(255, 255, 255, 0.2);
  margin: 5px;
  border-radius: 4px;
  overflow: hidden;
  isolation: isolate;
}

#slideThumb .thumbItem.active {
  display: block;
  height: inherit;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  transform: translateX(-100%);
  animation: thumb forwards linear running;
}

#slideThumb .thumbItem.paused {
  animation-play-state: paused;
}

.leftArrow,
.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  cursor: pointer;
  background-color: var(--var-gray);
  border-radius: 50%;
  padding: 10px;
  width: 65px;
}

.leftArrow {
  left: 10px;
}

.rightArrow {
  right: 10px;
}

/* ANIMATION */
@keyframes thumb {
  to {
    transform: initial;
  }
}

/* RESPONSIVE */

@media (max-width: 1400px) {
  .leftArrow,
  .rightArrow {
    width: 60px;
  }
  #slide {
    display: grid;
    border-radius: 4px;
    overflow: hidden;
    max-width: 1200px;
    margin: 0px auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 3px black;
    position: relative;
  }
}

@media (max-width: 800px) {
  .leftArrow,
  .rightArrow {
    width: 50px;
  }
}

@media (max-width: 500px) {
  .leftArrow,
  .rightArrow {
    width: 40px;
  }
}
